
#form{
    width:130%;
}

.header{
    margin: 40px 20px;
}
.table tr td{
    border: 1px solid black;
}
.form-group{
    padding: 20px;
}
    
.form-col{
    
   background-color: white;
   
    height: 550px;
    
    border-radius: 5px;
    

}

.bar {
    border-color: darkgrey;
    background-color: rgb(233, 230, 230);
    border:none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-top: 1px;
    width:400px

    
}
.location{
    border-color: darkgrey;
    background-color: rgb(233, 230, 230);
    border:none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-top: 1px;
}
#state{
    margin-left: 5px;
}
#address{
    border-color: darkgrey;
    background-color: rgb(233, 230, 230);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-top: 1px;
    width:400px

}
span{
    margin-top: 20px;
    color: darkgrey;
    margin: 10px;
}
.div-flex{
    display: flex;
}

.radio{
    padding: 5px;
    margin: 10px;
}
#submit{
    
    margin: 15px;
    
}


thead td{
    font-weight: bold;
}
@media (max-width:950px){
    .bar{
        width: 300px;
    }
    #address{
        width: 300px;
    }
    .form-col{
        margin: 20px;
        width: 60%;
        height: 650px;
    }
}
